body {
    background-color: rgb(229, 229, 229);
}
ul, li {
    list-style: none;
    margin-top: 10px;
    font-size: 13px;
}
.container-join {
    border: none;
    background-color: white;
    border-radius: 5px;
    margin: 200px auto;
    width: 660px;
}
.join-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.join-divide {
    width: 105px;
    float: left;
}
.join-input {
    width: 200px;
    height: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
}
.phone-input {
    width: 52px;
}
.email-input {
    width: 130px;
}
.under-line {
    border-bottom: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.required-star {
    font-weight: bold;
    color: red;
}
.required-input {
    text-align: right;
    font-size: 10px;
}
.join-button {
    width: 160px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: rgb(137, 200, 57);
}
.join-button:hover {
    background-color: rgb(107, 170, 27);
}
.text-center {
    text-align: center;
}