.section {
    display: flex;
    width: 1400px; 
    height: 800px; 
    border: 1px solid rgb(255, 255, 255); 
    overflow: hidden; 
    margin: 0 auto;
}

.info-Container button, .addr-Container button{
    background-color: #fff;
    border-radius: 10px; 
    color: #4caf50; 
    border: 1px solid #76c477;
    padding: 3px 10px; 
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #4caf50;
    color: #fff; 
}

.info-Container{
    overflow: hidden; 
    width: 600px; 
    float: left;
    border: 1px solid rgb(255, 255, 255);
}

.info-User{
    width: 500px;
    margin: 20px;
}

.info-User-title{
   font-size: 18px;
   font-weight: bold;
   font-family: 'Courier New', Courier, monospace;
}

.addr-Info-title{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.user-Area{
    height: 500px; 
    border-top: 1px solid rgb(83, 83, 83);
    border-bottom: none;
    /* overflow-y: scroll;  */
    padding: 10px;
    margin-top: 10px;
}

.user-Area ul{
    list-style: none; 
    padding-left: 0;
}

.user-Area li {
    margin-bottom: 10px; /* 각 항목 사이의 간격 설정 */
}

.point-Area {
    height: 40px; 
    /* border: 1px solid rgb(233, 233, 233); */
    border-top: none;
    border-bottom: none;
    padding: 10px; display: flex; 
    justify-content: center; 
    align-items: center
}

.point-Area i{
    cursor: pointer;
    color: #4caf50; 
}

.check-Area {
    height: 40px;
    /* border: 1px solid rgb(233, 233, 233); */
    border-top: none;
    padding: 10px; display: flex; 
    justify-content: center; 
    align-items: center;
}

.addr-Container {
    width: 900px; 
    overflow: hidden; 
    float: left;
}

.addr-Area {
    width: 800px; 
    /* border: 1px solid rgb(233, 233, 233); */
    margin: 20px
}

.addr-Info {
    height: 200px; 
    overflow-y: scroll;
    padding: 10px;
}

.addr-InfoStyle {
    border: 1px solid #ccc; 
    padding-left: 10px; 
    padding-right:10px; 
    padding-bottom: 10px; 
    padding-top: 10px; 
    margin: 0px auto;
}

.addr-addArea {
    height: 45px; 
    padding: 10px; display: flex; 
    justify-content: space-between;
}

.recipe-Area {
    width: 500px; 
    border: 1px solid rgb(233, 233, 233);
    margin: 20px;
}

.recipe-AreaStyle{
    height: 100px; 
    padding: 10px; display: flex; 
    justify-content: center; 
    align-items: center;
}
.orderContainer {
    width: 800px;
    margin: 20px;
}
.order-Info-title{
	font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.order-Area{
	height: 200px; 
    overflow-y: scroll;
    padding: 10px;

}

.popUp {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border: 1px solid #1abb34; 
    background-color:white; 
    padding: 20px; z-index: 9999; 
    text-align: center; color: white;
}