
/*user-myPageView.jsp 시작 */
.myPagebackground {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.myPageViewContainer {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    box-sizing: border-box;
}

fieldset {
    border: none;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 15px;
}

ul li span {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

div > span[style="color: red;"] {
    font-size: 0.9em;
}

.inline-input input,
.inline-input select,
.email-group input,
.email-group select {
    width: auto;
    display: inline-block; /* 입력란을 인라인 블록*/
    margin-right: 5px; /* 요소 사이의 간격 */
}

.email-input {
    width: calc(35% - 22px); /* 이메일 입력란의 너비 조정 */
}

.inline-input select {
    width: calc(33% - 22px); /* 선택란의 너비 조정 */
}

.inline-input input {
    width: calc(35% - 22px); /* 핸드폰 입력란의 너비 조정 */
}

/* @ 기호의 스타일 조정 */
.email-group span {
    display: inline-block;
    height: 38px; /* input 높이와 일치 */
    line-height: 38px; /* 세로 중앙 정렬 */
}
/*user-myPageView.jsp 끝*/

/*user-myPage-addrAdd 시작 */
.background {
    font-family: 'Noto Sans', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containerAddr {
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Or any other max-width */
    width: 100%;
}

.containerAddr input[type=text], select, button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.containerAddr input[type=button] {
    background-color: #008CBA;
    color: white;
    cursor: pointer;
    border-style: none;
    border-radius: 3px;
    width: 100px;
    height: 30px;
}

.containerAddr input[type=button]:hover {
    background-color: #007B9E;
}

.containerAddr button {
    background-color: #5cb85c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.containerAddr button:hover {
    background-color: #45a049;
}

.containerAddr div {
    margin-bottom: 15px;
}

/* 반응형 디자인 요소 */
@media screen and (max-width: 600px) {
    input[type=text], select, button {
        width: 100%;
    }
}
/*user-myPage-addrAdd 끝 */

/*user-myPage-addrUpdate 시작 */
.addrUpdatebackground {
    font-family: 'Noto Sans', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containerAddrUpdate {
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Or any other max-width */
    width: 100%;
}

.containerAddrUpdate input[type=text], select, button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.containerAddrUpdate input[type=button] {
    background-color: #008CBA;
    color: white;
    cursor: pointer;
    border-style: none;
    border-radius: 3px;
    width: 100px;
    height: 30px;
}

.containerAddrUpdate input[type=button]:hover {
    background-color: #007B9E;
}

.containerAddrUpdate button {
    background-color: #5cb85c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.containerAddrUpdate button:hover {
    background-color: #45a049;
}

.containerAddrUpdate div {
    margin-bottom: 15px;
}

/* 반응형 디자인 요소 */
@media screen and (max-width: 600px) {
    input[type=text], select, button {
        width: 100%;
    }
}
/*user-myPage-addrUpdate 끝 */


/*user-myPage-Password 시작 */
.MyPagePwdbackground {
    font-family: 'Noto Sans', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

.app div {
    margin-bottom: 20px;
    text-align: center;
}

.app span {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

.app input[type="password"] {
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: calc(100% - 100px); 
}

.app button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 100px;
}

.app button:hover {
    background-color: #45a049;
}


.app .cancel-btn {
    background-color: #f44336; 
}

.app .cancel-btn:hover {
    background-color: #c33c25;
}
/*user-myPage-Password 끝 */
